<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Lista de usuários do banco</h1>
    <ul>
      <% users.forEach(user => { %>
        <li>
          <%= user.nome %> <a href="/editar/<%= user.id_usuario %>">Editar</a> - <a href="">Excluir</a>
        </li>
      <% }) %> 
    </ul>
    Para cadastrar um usuário <a href="/cadastro">clique aqui </a>
  </body>
</html>
